{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bases.css' %}">
    <title>{% block title %}Блог простого бэкенд-разработчика{% endblock %}</title>
</head>
<body>


{% include 'inc/_nav.html' %}

<div class="container-fluid">
    <div class="row">
        {% block content %}CONTENT{% endblock %}
    </div>
</div>

{% include 'inc/_footer.html' %}
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>